body {
    background-color: #220506d8;
    font-family: sans-serif;
    margin: 20px;
}

.contenedor1 {
    display: flex;
    gap: 20px;
    align-items: stretch; /* Hace que el menú lateral se estire al mismo nivel del contenido */
}

.contenido {
    width: 80%;
    text-align: center;
}

.Galeria {
    background-color: #39325aae;
    border-radius: 17px;
    padding: 30px; 
    text-align: center;
}

.cubo {
    background-color: rgba(51, 36, 129, 0.467);
    margin: 10px;
    width: 20%;
    height: 150px;
    vertical-align: top;
    display: inline-block;
    line-height: 60px;
    font-size: 12px;
    color: white; 
    text-align: start;
    overflow: hidden;
}

.color4 {
    background-color: yellow;
}

.color2 {
    background-image: linear-gradient(to bottom, red, rgb(77, 77, 13));
}

.menuLateral {
    width: 20%; 
    background-color: #0a4615e6;
    text-align: center;
    border-radius: 17px;
    padding: 10px;
    font-size: 20px;
}

.menuLateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuLateral a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.cubos {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: stretch;
}

.tarjeta1 {
    flex: 1;
    background-color: #be5d18ae;
    border-radius: 17px;
    padding: 15px;
    height: 180px;
    text-align: right;
    box-sizing: border-box;
}

.tarjeta {
    flex: 1;
    background-color: #be5d18ae;
    border-radius: 17px;
    padding: 15px;
    height: 180px;
    box-sizing: border-box;
}

.tarjeta3 {
    flex: 1;
    border-radius: 17px;
    height: 180px;
    overflow: hidden;
}

.cuboMini {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.material-symbols-outlined {
    color: rgb(32, 32, 128);
    font-size: 28px;
    border: none !important;
    padding: 0 !important;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.isola {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
}

.isola1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gogle a {
    color: #4d90fe;
}
.conFooter {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.footerIzq {
    width: 80%;
    background-color: #790c0ce6;
    border-radius: 18px;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;    
    box-sizing: border-box;
}

.footerDer {
    width: 20%;
    background-color: #652554e6;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
}

.footerDerecho .iconos {
    display: flex;
    gap: 15px;
}

.footerDerecho .material-symbols-outlined {
    color: white;
}